#page-wrapper {
    max-width: 900px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#main-content-wrapper {
    width: 900px;
    height: 500px;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    /* border: solid;
    border-color: blue;
    border-radius: 15px; */

}

#left-content-wrapper {
    display: inline-block;
    position: relative;
    left: 0;
    vertical-align:top; /*added*/
    float: left;
    width: 180px;
    height: 470px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px 5px 5px 5px;
    /*border-left: ridge;
    border-right: ridge;*/
    border: solid;
    border-color: orange;
    border-radius: 15px;
}

.content-title {
    color: navy;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.content-title-wrapper {
    background-color: LightGray;
    text-align: center;
    width: inherit;
    height: 32px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;    
    /* border: solid;
    border-color: olive;*/
    border-radius: 15px; 
}

#center-content-wrapper {
    display: inline-block; /*disabling this centers the content*/
    position: relative;
    /*left: 0;*/
    /*background-color: #F7F2EC;*/
    /* border-left: inherit;
    border-right: inherit; */
    height: 470px;
    /*padding: 10px;*/
    vertical-align:top; /*added*/
    float: left;
    width: 450px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px 5px 5px 5px;
    border: solid;
    border-color: orange;
    border-radius: 15px;
}

#center-content {
    width: auto;
    height: 400px;
    border:thin;
}

#right-content {  
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

#left-content {
    text-align: left;
    padding-top: 10px;
    padding-left:20px;
}

#right-content-wrapper {
    display: inline-block;
    position: relative;
    vertical-align:top; /*added*/
    float: left;
    width: 180px;
    height: 470px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    /*border-left: ridge;
    border-right: ridge;*/
    margin: 5px 5px 5px 5px;
    border: solid;
    border-color: orange;
    border-radius: 15px;
}